<header class="fixed top-0 left-0 right-0 z-50 bg-white shadow-sm">
  <div class="max-w-[1200px] mx-auto px-6 h-16 flex items-center justify-between">
    <div class="flex items-center gap-2">
      <span class="material-symbols-outlined text-primary">temple_hindu</span>
      <span class="font-semibold text-lg">Temple Darshan</span>
    </div>
    <nav class="hidden md:flex gap-6 text-sm text-gray-700">
      <a class="hover:text-black" href="#" routerLink="/home">Home</a>
      <a class="hover:text-black" href="#" routerLink="/history">History</a>
      <a class="hover:text-black" href="#" routerLink="/abhishekdarshan">AbhishekDarshan</a>
      <a class="hover:text-black" href="#" routerLink="/donation">Donation</a>
      <a class="hover:text-black" href="#" routerLink="/trust">Trust</a>
      <a class="hover:text-black" href="#" routerLink="/bookings">Bookings</a>
      <a class="hover:text-black" href="#" routerLink="/helpsupport">Help&Support</a>
      <a class="hover:text-black" href="#" routerLink="/gallery">Gallery</a>
      <a class="hover:text-black" href="#" routerLink="/programs">Programs</a>
      <a class="hover:text-black" href="#" routerLink="/livedarshan">LiveDarshan</a>



    </nav>
    <button class="bg-primary text-black px-4 py-2 rounded-lg text-sm font-semibold" routerLink="login">Log out</button>
  </div>
</header>
